<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- UNICONS -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- BOXICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- styling -->
    <link href="./assets/css/style.css" rel="stylesheet">
    <!-- navbar styling -->
    <link href="./assets/css/navbar.css" rel="stylesheet">
    <!-- services styling -->
    <link href="./assets/css/services.css" rel="stylesheet">
    <!-- footer styling -->
    <link href="./assets/css/footer.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>services</title>
</head>

<body>
    {{>userNav}}
    



    <section class="services container">
        <div class="search">
            <div class="searchbar">
                <input type="text" class="searchbar__input" name="q" placeholder="Search Test" id="search">
                <a href="#table" id="searchBtn" class="searchbar__button">
                    <i class="fas fa-search"></i>
                </a>
            </div>
        </div>
        <div class="main showServices showS" id="services" >
            <div class="box">
            <h3>blood test </h3>
            <div class="pre_info">
            <p><b>Pre Test Information :</b></p>
            <span>No special preparation is required</span>
            </div>
            <div class="repo_delevery">
            <p><b>Report Delevry :</b></p>
            <span>42 hours</span>
            </div>
            <div class="price" >
            <h5 class="current" ><i class="fa-solid fa-indian-rupee-sign"></i> 299</h5>
            <h5 class="before" ><i class="fa-solid fa-indian-rupee-sign"></i> 400</h5>
            </div>
            <div class="buttons">
            <a href="#!" class="button" data-toggle="modal" data-target="#exampleModalCenter">View Details</a>
            <a href="#!" class="button" >Book now</a>
            </div>
            <p class="info"><i class='bx bx-home-alt'></i> Home Collection Available</p>
            </div>
            
            <div class="box">
            <h3>blood test </h3>
            <div class="pre_info">
            <p><b>Pre Test Information :</b></p>
            <span>No special preparation is required</span>
            </div>
            <div class="repo_delevery">
            <p><b>Report Delevry :</b></p>
            <span>42 hours</span>
            </div>
            <div class="price" >
            <h5 class="current" ><i class="fa-solid fa-indian-rupee-sign"></i> 299</h5>
            <h5 class="before" ><i class="fa-solid fa-indian-rupee-sign"></i> 400</h5>
            </div>
            <div class="buttons">
            <a href="#!" class="button" data-toggle="modal" data-target="#exampleModalCenter">View Details</a>
            <a href="#!" class="button" >Book now</a>
            </div>
            <p class="info"><i class='bx bx-home-alt'></i> Home Collection Available</p>
            </div>
            
            <div class="box">
            <h3>blood test </h3>
            <div class="pre_info">
            <p><b>Pre Test Information :</b></p>
            <span>No special preparation is required</span>
            </div>
            <div class="repo_delevery">
            <p><b>Report Delevry :</b></p>
            <span>42 hours</span>
            </div>
            <div class="price" >
            <h5 class="current" ><i class="fa-solid fa-indian-rupee-sign"></i> 299</h5>
            <h5 class="before" ><i class="fa-solid fa-indian-rupee-sign"></i> 400</h5>
            </div>
            <div class="buttons">
            <a href="#!" class="button" data-toggle="modal" data-target="#exampleModalCenter">View Details</a>
            <a href="#!" class="button" >Book now</a>
            </div>
            <p class="info"><i class='bx bx-home-alt'></i> Home Collection Available</p>
            </div>

            <div class="box">
                <h3>blood test </h3>
                <div class="pre_info">
                    <p><b>Pre Test Information :</b></p>
                    <span>No special preparation is required</span>
                </div>
                <div class="repo_delevery">
                    <p><b>Report Delevry :</b></p>
                    <span>42 hours</span>
                </div>
                <div class="price" >
                    <h5 class="current" ><i class="fa-solid fa-indian-rupee-sign"></i> 299</h5>
                    <h5 class="before" ><i class="fa-solid fa-indian-rupee-sign"></i> 400</h5>
                </div>
                <div class="buttons">
                    <a href="#!" class="button" data-toggle="modal" data-target="#exampleModalCenter">View Details</a>
                    <a href="#!" class="button" >Book now</a>
                </div>
                <p class="info"><i class='bx bx-home-alt'></i> Home Collection Available</p>
            </div>
        </div>
    </section>


   <section id="models" >

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <article class="card__content grid">
                    <div class="card__pricing">
                        <div class="card__pricing-number">
                            <div class="price" style="flex-direction: column;" >
                            <h5 class="current" style=" color:#fff;" ><i class="fa-solid fa-indian-rupee-sign"></i> 299</h5>
                            <h5 class="before" style=" color:#fff;"><i class="fa-solid fa-indian-rupee-sign"></i> 400</h5>
                            </div>
                        </div>
                        <!--<span class="card__pricing-month">/test</span>-->
                    </div>

                    <header class="card__header">
                        <div class="card__header-circle ">
                            <a href="#!" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </a>
                        </div>

                        <span class="card__header-subtitle">Most popular</span>
                        <h1 class="card__header-title">Blood Diagnosis</h1>
                    </header>

                    <table class="table">
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="display:flex;"><span><i class="fa-solid fa-flask"></i></span>
                                    <p> Test Type</p>
                                </td>
                                <td>:</td>
                                <td>Blood</td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="display:flex;"><span><i class="fas fa-info-circle"></i></span>
                                        <p> Pre-test Information</p>
                                    </div>
                                </td>
                                <td>:</td>
                                <td>No special preparation is required</td>
                            </tr>
                            <tr>
                                <td style="display:flex;"><span><i class="fa-solid fa-clock"></i></span>
                                    <p> Report Delivery</p>
                                </td>
                                <td>:</td>
                                <td>42 hours</td>
                            </tr>
                            <tr>
                                <td style="display:flex;"><span><i class="fa-solid fa-indian-rupee-sign"
                                            style="margin:0 5px;"></i></span>
                                    <p> Price</p>
                                </td>
                                <td>:</td>
                                <td><span><i class="fa-solid fa-indian-rupee-sign"></i></span> <span>300 </span></td>
                            </tr>
                        </tbody>
                    </table>

                    <a href="#!" class="card__button">Book Appointment</a>
                </article>


            </div>
        </div>
    </div>
    
    
    
    </section>

    {{>footer}}



    <!-- bootstrap js -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- coustom js -->
    <script src="./assets/js/main.js"></script>
    <!-- services js -->
    <script src="assets/js/services.js"></script>
    <script type="text/javascript">
    let search = document.getElementById("search")
    
    search.addEventListener("input" , function(){
    
         let searchVal = search.value.toLowerCase();
         console.log(searchVal)
    
         let box = document.getElementsByClassName("serviceBox")
     
         Array.from(box).forEach(function(element){
              //let cardTxt = element.getElementsByTagName("h6")[0].innerText
              let boxH3 = element.querySelector("h3").innerText.toLowerCase();
              console.log(boxH3)
              if(boxH3.includes(searchVal)){
                 element.classList.remove("hide");
                 element.classList.add("show");
              }
              else{
                 element.classList.add("hide");
                 element.classList.remove("show");
              }
    
         })
     })
    </script>
</body>

</html>