<!-- massage -->
    <div id="message"></div>
    <!--loader-->
    <div id="mains">
    <div class="bg" >
    <div class="loader"></div>
    </div>
    </div>
    <!--top navigation bar-->
    <nav class="topNav">
    <div class="main">
    <div class="left" >
    <div class="btn_one" onclick="toggle()">
    <img src="../assets/img/icon/menu.png">
    </div>
    <span class="logo">
    <img src="../assets/img/Logo/logo.png" >
    </span>
    </div>
    
    <span class="signUp" ><a href="/adminsloginL" >Login <i class="fa-solid fa-right-from-bracket"></i></a></span>
    </div>
    </nav>
    
    <div id="bg" ></div>
    
    <div class="sidebar_menu" id="sideMenu" >
    <div class="logo">
    <a href="#!"><img src="../assets/img/Logo/logo.png"></a>
    </div>
    <div class="btn_two">
    <div class="close"  style="color:#000;">
    <img src="../assets/img/icon/close.png"  onclick="toggle()">
    </div>
    </div>
    <div class="menu">
    <ul>
    <li >
    <a href="/" >
    <i class="fas fa-qrcode"></i>
    <span>Dashboard</span>
    </a>
    </li>
    <li>
    <a href="/addServiceL">
    <i class="fas fa-link"></i>
    <span>Add Services</span>
    </a>
    </li>
    <li >
    <a href="/addAdminL" >
    <i class="fas fa-stream"></i>
    <span>Staff</span>
    </a>
    </li>
    <li  >
    <a href="/bookingDataL" >
    <i class="fas fa-calendar-week"></i>
    <span>Booking</span>
    </a>
    </li>
    <li>
    <a href="/collectedDataL">
    <i class='bx bx-collection' ></i>
    <span>Collected</span>
    </a>
    </li>
    <li>
    <a href="/completedDataL" >
    <i class='bx bx-check-square'></i>
    <span>Completed</span>
    </a>
    </li>
    </ul>
    </div>
    
    <div class="profile-details">
    <div class="profile-content">
    <img src="../assets/img/icon/user.png" alt="profileImg">
    </div>
    <div class="name-job">
    <div class="profile_name">Prem Shahi</div>
    <div class="job"></div>
    </div>
    <i class='bx bx-log-out' ></i>
    
    </div>
    </div>