<footer id="footer">
          <div class="main">
               <div class="left box">
                    <div class="heading">
                         <h2>About us</h2>
                    </div>
                    <div class="text">
                         <p>
                              HBCcare has a team of 200 senior technicians having 9 years of experience . All the technicians are degree holder and trained professionals in home healthcare.One of the leading diagnostics centres in the home healthcare business in india.
                         </p>
                    </div>
                    <ul class="socialLinks" style="display:none;" >
                         <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                         <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                         <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
               </div>
               <div class="middle box">
                    <div class="heading">
                         <h2>Address</h2>
                    </div>
                    <div>
                         <div class="place">
                              <span class="fas fa-map-marker-alt"></span>
                              <span class="text">Kharghar , Navi Mumbai </span>
                         </div>
                         <div class="phone">
                              <span class="fas fa-phone-alt"></span>
                              <span class="text">+91 99873 43837</span>
                         </div>
                         <div class="email">
                              <span class="fas fa-envelope"></span>
                              <span class="text">hbccarediagnostics@gmail.com</span>
                         </div>
                    </div>
               </div>
               <div class="right box">
                    <div class="heading">
                         <h2>Quick links</h2>
                    </div>
                    <ul class="quickLinks">
                         <li><a href="/">Home</a></li>
                         <li><a href="/userServicesL">All Tests</a></li>
                         <li><a href="/bookFormL">Book Test</a></li>
                         <li><a href="/userDashL">Your Booking</a></li>
                    </ul>
               </div>
          </div>
          <div class="bottom">
               <center>
                    <span class="far fa-copyright"></span><span> 2021-2022 HBC care All rights reserved.</span>
               </center>
          </div>
     </footer>
     